<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193608458019-52f15ce4kvvif25h4ica359is5di3jp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193608458019-52f15ce4kvvif25h4ica359is5di3jp6</string>
	<key>API_KEY</key>
	<string>AIzaSyBFlsIPhijBJa4kEUyN2eJXRxNuhDiSGr8</string>
	<key>GCM_SENDER_ID</key>
	<string>193608458019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.ScanDb</string>
	<key>PROJECT_ID</key>
	<string>scandb-871f3</string>
	<key>STORAGE_BUCKET</key>
	<string>scandb-871f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193608458019:ios:cdc55a760a6fc5cc89f696</string>
	<key>DATABASE_URL</key>
	<string>https://scandb-871f3-default-rtdb.firebaseio.com</string>
</dict>
</plist>